<div class="feature-container">
    <h1>The Features our portal provides</h1>
    <div class="features">
        <table>
            <tr>
                <th>Secure</th>
                <th>Convenient</th>
                <th>Fast</th>
            </tr>
            <tr>
                <td>
                    Our portal is secure and your data is safe with us.
                </td>
                <td>
                    Manage your vehicle registrations conveniently from anywhere.
                </td>
                <td>
                    Register your vehicle in minutes.
                </td>
            </tr>
        </table>
    </div>
</div>
